
config TOSHIBA_TCD1304
    bool
    default y
    depends on DT_HAS_TOSHIBA_TCD1304_ENABLED
    select GPIO
    select ADC
    select SENSOR_ASYNC_API
    select ADC_ASYNC

if TOSHIBA_TCD1304

config TOSHIBA_TCD1304_PWM
    bool "Enable PWM control of clock signals"
    default y
    select PWM

endif # TOSHIBA_TCD1304
