/ {
    chosen {
        sesimo,usb = &zephyr_udc0;
        sesimo,bofp1 = &bofp1;
    };
};

&spi1 {
    clock-frequency = <18000000>;

    bofp1: bofp1@0 {
        status = "okay";
        compatible = "sesimo,bofp1";
        reg = <0>;
        spi-max-frequency = <18000000>;
        prescaler = <20>;
        clkdiv = <7>;
        busy-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
        fifo-wmark-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
    };
};
