/ {
    ccd0 {
        compatible = "toshiba,tcd1304";
        status = "okay";
        sampling-rate = <400000>;
        pwms = <&pwm0 1 PWM_NSEC(2500) PWM_POLARITY_NORMAL>;
        pwm-names = "clock";
        gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>, <&gpioc 9 GPIO_ACTIVE_LOW>;
        io-channels = <&adc0 1>;
    };
};

&timers2 {
    status = "okay";
    st,prescaler = <0>;

    pwm0: pwm {
        status = "okay";

        pinctrl-0 = <&tim2_ch1_pa0>;
        pinctrl-names = "default";
    };
};

&timers5 {
    status = "okay";

    pwm1: pwm {
        status = "okay";

        pinctrl-0 = <&tim5_ch4_pa3>;
        pinctrl-names = "default";
    };
};

&spi1 {
    status = "okay";

    adc0: adc@0 {
        status = "okay";
        compatible = "ti,ads8329";
        reg = <0>;
        #io-channel-cells = <1>;
        spi-max-frequency = <50000000>;
        pwms = <&pwm1 4 PWM_NSEC(2500) PWM_POLARITY_NORMAL>;
        pwm-names = "timer";
        ready-gpios = <&gpioc 10 GPIO_ACTIVE_LOW>;
    };
};
