#include <dt-bindings/dma/stm32_dma.h>

/ {
    chosen {
        sesimo,bofp1 = <&bofp1>;
    };
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_sck_pa5 &spi1_sck_pb3 &spi1_mosi_pa7 &spi1_miso_pa6>;
    pinctrl-names = "default";
    clock-frequency = <18000000>;

    bofp1: bofp1@0 {
        status = "okay";
        compatible = "sesimo,bofp1";
        reg = <0>;
        spi-max-frequency = <18000000>;
    };
};

&dma1 {
    status = "okay";
};

&usart2 {
    dmas = <&dma1 7 STM32_DMA_PERIPH_TX>, <&dma1 6 STM32_DMA_PERIPH_RX>;
    dma-names = "tx", "rx";
};
