/ {
    chosen {
        sesimo,bofp1 = &bofp1;
        sesimo,usb = &zephyr_udc0;
    };
};

&spi1 {
	status = "okay";

    bofp1: bofp1@0 {
        status = "okay";
        compatible = "sesimo,bofp1";
        reg = <0>;
        spi-max-frequency = <12000000>;
        clkdiv = <125>;
        prescaler = <15>;
        busy-gpios = <&gpioc 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        fifo-wmark-gpios = <&gpioc 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        integration-time = <600000>;
    };
};
