
config ADC_ADS8329
    bool
    default y
    depends on DT_HAS_TI_ADS8329_ENABLED
    select SPI
    select GPIO
    select GPIO_ENABLE_DISABLE_INTERRUPT

if ADC_ADS8329

config ADC_ADS8329_THREAD_STACK_SIZE
    int
    default 512

config ADC_ADS8329_THREAD_PRIO
    int
    default 0

endif # ADC_ADS8329
